html body{
  height: 100%;
  width: 100%;
  background-image: url('http://www.publicdomainpictures.net/pictures/90000/nahled/gold-bokeh-background.jpg');
  background-size: cover;
}

.container{
  display: block;
  width: 100%;
  height: 100%;
}

.nav {
   display: block;
   overflow: hidden;
   height: 70px;
   width: 100%;
   background-color: #FC6C43;
   position: absolute;
   left: 0;
   top: 0;
   margin-top: 0;
}

.nav li{
  list-style-type: none;
  display: inline;
}

.nav .brand{
  color: white;
  display: inline-block;
  width: 300px;
}

.nav .search-input{
  float: right;
  position: relative;
  right: 100px;
  top: 20px;
}

.nav input{
  margin-right: 20px;
  height: 30px;
  width:200px;
}

.nav button{
  color: white;
  background: #5CB85C;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  padding: 7px 0;
}

.home-container{
  align-items: center;
  display: block;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
}

.home-container h2{
  color: white;
  font-size: 3em !important;
  margin-bottom: 20px;
}

.home-container input{
  display: block;
  margin-bottom: 20px;
  height: 30px;
  width:200px;
  margin-left: auto;
  margin-right: auto;
}

.home-container button{
  color: white;
  background: #5CB85C;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}
